/* Nicer top left spacing */
.wy-side-nav-search a {
    line-height: 1.5;
}

/* My sign-off */
.right {
    text-align: right;
}

/* Keep headings visible */
h2 {
    position: sticky;
    top: 0;
    background-color: #fff;
}
/* Bug? in safari if overflow on a parent is set */
body, html {
    overflow-x: visible;
}

/* Index page list */
.toctree-wrapper .toctree-l1 {
    border-bottom: dotted 4px #030f98;
    margin-bottom: 12px;
}

/* Core participants table */
#core-participants th, #core-participants td {
    white-space: normal;
}

/* Hide versions menu, keep hosted/privacy permanently shown */
div.rst-versions > span.rst-current-version {
    display: none;
}
div.rst-versions > div.rst-other-versions {
    display: block;
}
div.rst-versions > div.rst-other-versions > div.injected > dl {
    display: none;
}
div.rst-versions > div.rst-other-versions > div.injected > hr {
    display: none;
}
